<h2> Volunteer: <%= @volunteer.name %></h2>
<br>
<h3>Project: <%= @volunteer.project.title %> </h3>
<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
<input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="volunteer_name">Edit volunteer</label>
    <input id="volunteer_name" name="volunteer_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Update volunteer</button>
</form><br>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete volunteer</button>
</form>  
<br>
<a href="/projects/<%= @volunteer.project.id %>"class="btn btn-primary">Back to <%= @volunteer.project.title %> page</a>